*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,#009988 0% ,#009988 15%,#d7dbd4 15%, #d7dbd4 100%);
}

/* LAYOUT */
.container{   
    font-size: 12px;
    display: flex;
    width: 80%;
    height: 95%;
    background: #fff;
}

.sidebar{
    flex-basis: 35%;
}

.content{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px;
    background: #eaeaea;
}

main{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    background-position: center;
}

footer{
    padding: 7px 25px;
}

img{
    width: 40px;
    border-radius: 50%;
}

span{
    font-weight: 600;
}

a{
    font-size: 10px;
    padding-top: 3px;
}

i{
    font-size: 18px;
    color: #b1b1b1;
}

input{
    flex-grow: 1;
    border: none;
    padding: 0 10px;
}


/* SIDEBAR */

/* PROFILE */
.user-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #eaeaea;
}

.profile{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.user-icon a{
    margin: 0 7px;;
}

/* NOTIFICATIONS */
.sidebar .notifications{
    display: flex;
    padding: 10px;
    background: #74dcff ;
}

.sidebar .notifications i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    color: #7edeff;
    border-radius: 50%;
    text-align: center;
    background: #fff;
}

.notifications-text{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

/* SEARCH */
.search{
    padding: 5px;
    background: #eaeaea;
}

.search-bar{
    display: flex;

}

.sidebar .search-bar i {
    flex-basis: 42px;
    padding: 5px 15px;
    background: #fff;
}

.sidebar .search-bar input{
    flex-grow: 1;
    max-width: 88%;
    position: relative;
    left: -4px;
    line-height: 22px;
    font-size: 10px;
}

/* CONTACTS LIST */
.contacts ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.contacts ul li span{
    padding: 0 10px;
}

.contacts ul li:last-child{
    border-bottom: none;
}

/* MAIN */
header{
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4eeea;
}

footer input{
   flex-grow: 1;
   margin: 0 15px;
   line-height: 35px;
   border: none;
   border-radius: 5px;
   font-size: 12px;
}
